{% extends 'base.html.twig' %}

{#{% block title %} {% endblock %}#}

{% block body %}
    <div class="logo">
        <div class="slogan-left">
            <div class="slogan-left-text">thinking first</div>
        </div>
        <img src="{{ asset('assets/svg/logo.svg') }}" alt="logo" style="max-width: 50%;">
        <div style="flex: 1"></div>
    </div>
    <div class="slogan-wrapper">
        <div class="slogan-text">agencja brandingowa.</div>
        <div class="slogan-subtext">thinking people</div>
    </div>
    <div class="carousel">
        <div class="carousel-inner">
        {% for num in range(0, 1) %}
            <div class="carousel-item">
                <img src="{{ asset('assets/img/home/m_01.webp') }}" alt="m1">
                <div class="caption">MERCER KOSZULE</div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('assets/img/home/m_02.webp') }}" alt="m1">
                <div class="caption">TUKUPTU</div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('assets/img/home/m_03.webp') }}" alt="m1">
                <div class="caption">GOPR</div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('assets/img/home/m_04.webp') }}" alt="m1">
                <div class="caption">FOCO</div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('assets/img/home/m_05.webp') }}" alt="m1">
                <div class="caption">MEBLE</div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('assets/img/home/m_06.webp') }}" alt="m1">
                <div class="caption">SKAWINA</div>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="see-more-text" style="width: 100%; display: flex; justify-content: center">
        <div class="text-more" style="font-size: 20px; border-bottom: 1px solid white; cursor: pointer">
            Zobacz więcej
        </div>
    </div>
    <div class="offer-home">
        <div class="offer-title">
            oferta
        </div>
        <div class="offer-topics">
            <div class="topic-item">
                <div class="topic-header">Budowa marki</div>
                <div class="topic-list">
                    Nazewnictwo
                    Barwa
                    Przekaz
                    Wygląd
                    Strategia
                    Komunikacja
                    Wizerunek
                </div>
            </div>
            <div class="topic-item">
                <div class="topic-header">Strony internetowe</div>
                <div class="topic-list">
                    Aplikacje
                    Sklepy internetowe
                    Web Design
                    Front-end
                    Back-end
                    Wdrożenie
                </div>
            </div>
            <div class="topic-item">
                <div class="topic-header">Rebranding</div>
                <div class="topic-list">
                    Ścieżka rozwoju
                    Rozwój marketingowy
                    Nauczanie
                    Konsultacje
                    Ćwiczenia
                    Pobudzenie aktywności
                </div>
            </div>
            <div class="topic-item">
                <div class="topic-header">Identyfikacja wizualna</div>
                <div class="topic-list">
                    Logo
                    Key-visual
                    Opakowania
                    Submarki
                    Infografika
                    Wizytówki
                    Użytki reklamowe
                </div>
            </div>
            <div class="topic-item">
                <div class="topic-header">Aplikacje</div>
                <div class="topic-list">
                    Webowe
                    Mobilne
                    Konsolowe
                    Oprogramowanie serwerowe
                </div>
            </div>
        </div>
    </div>
    <div class="person-info">
        <div class="person-card row">
            <img src="{{ asset('assets/img/home/piotrek.webp') }}" alt="piotr">
            <div class="person-text">
                <span style="font-weight: 300">Piotr Sumara</span>
                <span style="font-weight: 100; margin-bottom: 40px">Dyrektor artystyczny</span>
                <span style="font-weight: 100">+48 510 730 071</span>
                <span style="font-weight: 100">piotrsumaracontact@gmail.com</span>
            </div>
        </div>
    </div>
    <div class="content-card">
        <div class="card">
            <div class="photo-card">
                <img src="{{ asset('assets/svg/logo.svg') }}" alt="logo-card" style="width: 60%">
            </div>
            <div class="hashtags">
                #2dev #branding #studio #komunikacja #wygląd #www #art
            </div>
        </div>
    </div>
{% endblock %}
