{% trans_default_domain 'home' %}
{% extends 'base.html.twig' %}


{% block body %}
    <div class="logo">
        <div class="slogan-left">
            <div class="slogan-left-text">thinking first</div>
        </div>
        <img src="{{ asset('assets/svg/logo.svg') }}" alt="logo" style="max-width: 50%;">
        <div style="flex: 1"></div>
    </div>
    <div class="slogan-wrapper">
        <div class="slogan-text">{% trans %}agencja brandingowa.{% endtrans %}</div>
        <div class="slogan-subtext">thinking people</div>
    </div>
    <div class="owl-carousel owl-theme mb-5 mt-5 full-width" id="marquee">
        {% for post in posts %}
            <a class="portfolio-link position-relative d-flex align-items-center flex-column" href="{{ path('app_portfolio_post', {slug: post.slug ?? post.id}) }}">
                <div class="portfolio-block position-relative">
                    <img class="w-100" src="{{ path('devcore_blog_thumbnail', {id: post.id}) }}" alt="">
                </div>
                <span class="position-absolute mb-4" style="bottom: 0">Zobacz ></span>
            </a>
        {% endfor %}
        {# {% for src in images %} #}
        {#     <img src="{{ asset(src) }}" alt="" loading="lazy"> #}
        {# {% endfor %} #}
    </div>

    <div class="see-more-text" style="width: 100%; display: flex; justify-content: center">
        <div class="text-more" style="font-size: 20px; border-bottom: 1px solid white; cursor: pointer">
            <a href="{{ path('app_portfolio') }}">{% trans %}Zobacz więcej{% endtrans %}</a>
        </div>
    </div>
    <div id="offer-home" class="offer-home">
        <div class="offer-title">
        {% trans %}oferta{% endtrans %}
        </div>
        <div class="offer-topics">
            <div class="topic-item">
                <div class="topic-header">{% trans %}Budowa marki{% endtrans %}</div>
                <div class="topic-list">
                {% trans %}
                    Nazewnictwo
                    Barwa
                    Przekaz
                    Wygląd
                    Strategia
                    Komunikacja
                    Wizerunek
                {% endtrans %}
                </div>
            </div>
            <div class="topic-item">
                <div class="topic-header">{% trans %}Strony internetowe{% endtrans %}</div>
                <div class="topic-list">
                {% trans %}
                    Sklepy internetowe
                    Web Design
                    Front-end
                    Back-end
                    Wdrożenie
                {% endtrans %}
                </div>
            </div>
            <div class="topic-item">
                <div class="topic-header">{% trans %}Rebranding{% endtrans %}</div>
                <div class="topic-list">
                {% trans %}
                    Ścieżka rozwoju
                    Rozwój marketingowy
                    Nauczanie
                    Konsultacje
                    Ćwiczenia
                    Pobudzenie aktywności
                {% endtrans %}
                </div>
            </div>
            <div class="topic-item">
                <div class="topic-header">{% trans %}Identyfikacja wizualna{% endtrans %}</div>
                <div class="topic-list">
                {% trans %}
                    Logo
                    Key-visual
                    Opakowania
                    Submarki
                    Infografika
                    Wizytówki
                    Użytki reklamowe
                {% endtrans %}
                </div>
            </div>
            <div class="topic-item">
                <div class="topic-header">{% trans %}Aplikacje{% endtrans %}</div>
                <div class="topic-list">
                {% trans %}
                    Webowe
                    Mobilne
                    Konsolowe
                    Oprogramowanie serwerowe
                {% endtrans %}
                </div>
            </div>
        </div>
    </div>
    <div class="devcore-panel position-relative">

        <img class="floating-decoration" src="{{ asset('assets/svg/homepage/icon_times.svg') }}" style="left: 700px; top: 150px;">
        <img class="floating-decoration" src="{{ asset('assets/svg/homepage/icon_times.svg') }}" style="left: 300px; top: 200px; scale: 0.5">
        <img class="floating-decoration" src="{{ asset('assets/svg/homepage/icon_times.svg') }}" style="left: 800px; top: 50px; scale: 0.5">
        <img class="floating-decoration" id="floating-3" src="{{ asset('assets/svg/homepage/icon_times.svg') }}" style="left: 400px; top: 600px; scale: 0.8">
        <img class="floating-decoration" src="{{ asset('assets/svg/homepage/icon_times.svg') }}" style="left: 450px; top: 540px; scale: 0.4">
        <img class="floating-decoration" src="{{ asset('assets/svg/homepage/icon_times.svg') }}" style="right: 410px; top: 540px; scale: 0.3">
        <img class="floating-decoration" src="{{ asset('assets/svg/homepage/icon_times.svg') }}" style="right: 450px; top: 590px; scale: 0.6">
        <img class="floating-decoration" src="{{ asset('assets/svg/homepage/icon_times.svg') }}" style="right: 500px; top: 700px; scale: 1.2">
        <img class="floating-decoration" src="{{ asset('assets/svg/homepage/icon_times.svg') }}" style="right: 550px; top: 780px; scale: 0.3">
        <img class="floating-decoration" id="floating-1" src="{{ asset('assets/svg/homepage/icon_arrows.svg') }}" style="right: 200px; top: 250px; scale: 1">
        <img class="floating-decoration" id="floating-2" src="{{ asset('assets/svg/homepage/icon_arrows.svg') }}" style="left: 100px; top: 600px; scale: 1">
        <img class="floating-decoration" src="{{ asset('assets/svg/homepage/icon_circle.svg') }}" style="left: 200px; top: 180px; scale: 0.5">
        <img class="floating-decoration" src="{{ asset('assets/svg/homepage/icon_circle.svg') }}" style="left: 500px; top: 800px; scale: 0.5">
        <img class="floating-decoration" src="{{ asset('assets/svg/homepage/icon_circle.svg') }}" style="left: 500px; top: 350px; scale: 0.5">
        <img class="floating-decoration" src="{{ asset('assets/svg/homepage/icon_circle.svg') }}" style="right: 500px; top: 200px; scale: 0.5">
        <img class="floating-decoration" src="{{ asset('assets/svg/homepage/icon_circle.svg') }}" style="right: 350px; top: 300px; scale: 0.5">
        <img class="floating-decoration" src="{{ asset('assets/svg/homepage/icon_circle.svg') }}" style="right: 200px; top: 600px; scale: 0.5">
        <img class="floating-decoration" src="{{ asset('assets/svg/homepage/icon_circle.svg') }}" style="right: 800px; top: 700px; scale: 0.5">
        <img class="floating-decoration" src="{{ asset('assets/svg/homepage/icon_circle.svg') }}" style="right: 830px; top: 750px; scale: 1">

        <div class="row min-vh-100 justify-content-center align-items-center">
            <div class="col-12 col-sm-6 text-center d-flex flex-column align-center">
                <span class="d-block mb-5" style="font-weight: 200; font-size: 3rem">system CMS</span>
                <img src="{{ asset('assets/svg/devcore/devcore_logo.svg') }}" alt="logo" class="img-fluid" style="max-width: 40%;">
            </div>
        </div>
    </div>
    <div id="person-info" class="person-info">
        <div class="row" style="flex-wrap: wrap; gap: 4rem">
            {# <div class="person-card"> #}
            {#     <div class="person-text"> #}
            {#         <span style="font-weight: 300">Gabriel Socha</span> #}
            {#         <span style="font-weight: 100; margin-bottom: 40px">{% trans %}Dyrektor techniczny{% endtrans %}</span> #}
            {#     </div> #}
            {#     <img src="{{ asset('assets/img/home/piotrek.webp') }}" alt="piotr" style="visibility: hidden"> #}
            {# </div> #}
            <div class="person-card">
                <img src="{{ asset('assets/img/home/piotr.png') }}" alt="piotr">
                <div class="person-text">
                    <span style="font-weight: 300">Piotr Sumara</span>
                    <span style="font-weight: 100; margin-bottom: 1rem">{% trans %}Dyrektor artystyczny{% endtrans %}</span>
                    <span style="font-weight: 100">+48 510 730 071</span>
                    <span style="font-weight: 100">kontakt@2dev.com.pl</span>
                </div>
            </div>
            {# <div class="person-card"> #}
            {#     <img src="{{ asset('assets/img/home/piotrek.webp') }}" alt="piotr" style="visibility: hidden"> #}
            {#     <div class="person-text"> #}
            {#         <span style="font-weight: 300">Patryk Kubala</span> #}
            {#         <span style="font-weight: 100; margin-bottom: 40px">{% trans %}Dyrektor techniczny{% endtrans %}</span> #}
            {#     </div> #}
            {# </div> #}
        </div>
{#        <div class="row" style="margin-top: 3rem">#}
{#            <div class="person-card-no-photo row" style="justify-content: flex-end">#}
{#                <div class="person-text">#}
{#                    <span style="font-weight: 300">Gabriel Socha</span>#}
{#                    <span style="font-weight: 100; margin-bottom: 40px">Programista</span>#}
{#                    <span style="font-weight: 100">kontakt@2dev.com.pl</span>#}
{#                </div>#}
{#            </div>#}
{#            <div class="person-card-no-photo row" style="justify-content: flex-start">#}
{#                <div class="person-text">#}
{#                    <span style="font-weight: 300">Patryk Kubala</span>#}
{#                    <span style="font-weight: 100; margin-bottom: 40px">Programista</span>#}
{#                    <span style="font-weight: 100">kontakt@2dev.com.pl</span>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>
    <div class="contact-form">
        <div class="row min-vh-100 justify-content-center align-items-center">
            <div class="col-11 col-md-8 col-lg-6">
                {{ form_start(form) }}
                    <h2 class="mb-5">Skontaktuj się z nami</h2>

                    <div class="mb-4">
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name) }}
                    </div>

                    <div class="mb-4">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                    </div>

                    <div class="mb-4">
                        {{ form_label(form.message) }}
                        {{ form_widget(form.message) }}
                    </div>

                    <!-- <div class="mb-4 d-flex align-items-center gap-2"> -->
                    <!--     <input type="checkbox" id="not-robot"> -->
                    <!--     <label for="not-robot" class="mb-0 small"> -->
                    <!--         Potwierdź, że nie jesteś robotem -->
                    <!--     </label> -->
                    <!-- </div> -->

                    <button type="submit" class="btn-contact">
                        Wyślij wiadomość
                    </button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <div class="d-flex align-center justify-center fs-1 text-center mb-4">
        <span style="font-weight: 200">Zaufali nam</span>
    </div>
    {{ include('app/elements/_logo_carousel.html.twig') }}
{% endblock %}
{% block javascripts %}
<script>
document.addEventListener('DOMContentLoaded', () => {
    const $owl = $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 30,
        autoplay: true,
        autoplayTimeout: 3000,
        autoplayHoverPause: true,
        smartSpeed: 800,
        dots: false,
        nav: false,
        responsive: { 0:{items:2}, 600:{items:3}, 900:{items:5} }
    });

    const bg1 = document.querySelector('.background.bg-clone');
    const bg2 = document.querySelector('.background-2.bg-clone');

    const titlePos = document.querySelector('.offer-topics').getBoundingClientRect();

    const initPos1 = bg1.getBoundingClientRect();
    const initPos2 = bg2.getBoundingClientRect();

    bg1.style.setProperty('--end-pos', initPos1.y + window.scrollY + (titlePos.y + window.scrollY - 200) + 'px');
    bg2.style.setProperty('--end-pos', initPos2.y + window.scrollY + (titlePos.y + window.scrollY + titlePos.height / 2 + initPos1.height / 2) + 'px');
    const globalTitleY = titlePos.y + window.scrollY;

    const scroll = window.pageYOffset / globalTitleY;
    document.querySelectorAll('.bg-clone').forEach((element) => {
        element.style.setProperty('--scroll', scroll);
    })

    window.addEventListener('scroll', () => {
        const windowTop = 0;

        const scroll = window.pageYOffset / globalTitleY;
        document.querySelectorAll('.bg-clone').forEach((element) => {
            element.style.setProperty('--scroll', scroll);
        })
    })
})
</script>
{% endblock %}
