{% extends 'base.html.twig' %}

{% block body %}
<link rel="stylesheet" href="{{ asset('assets/css/portfolio.css') }}">
    <div class="logo">
        <div class="slogan-left">
            <div class="slogan-left-text">thinking first</div>
        </div>
        <img src="{{ asset('assets/svg/portfolio.svg') }}" alt="logo" style="max-width: 50%;">
        <div style="flex: 1"></div>
    </div>
{#    <div class="row">#}
{#        <div class="hashtags-categories">#}
{#            #Wszystkie#}
{#            #Branding#}
{#            #Strony internetowe#}
{#            #Aplikacje#}
{#            #Opakowania#}
{#            #SocialMedia#}
{#            #Fashion#}
{#        </div>#}
{#    </div>#}
<div style="padding: 0 6vw">
    {{ include('portfolio/foco.html.twig') }}
    {{ include('portfolio/sahur.html.twig') }}
    {{ include('portfolio/gopr.html.twig') }}
    {{ include('portfolio/socialmedia.html.twig') }}
    {{ include('portfolio/skawina.html.twig') }}
    {{ include('portfolio/biuroland.html.twig') }}
    {{ include('portfolio/fashion.html.twig') }}
</div>
{% endblock %}
{% block javascripts %}
<script>
document.addEventListener('DOMContentLoaded', () => {

})
</script>
{% endblock %}
