{% trans_default_domain 'portfolio' %}
{% extends 'base.html.twig' %}

{% block body %}
<link rel="stylesheet" href="{{ asset('assets/css/portfolio.css') }}">
    <div class="logo">
        <div class="slogan-left">
            <div class="slogan-left-text">thinking first</div>
        </div>
        <img src="{{ asset('assets/svg/portfolio.svg') }}" alt="logo" style="max-width: 50%;">
        <div style="flex: 1"></div>
    </div>
    <div style="padding: 0 6vw">
        <div class="hashtags-categories">
            <span class="p-link" data-cat="all">{% trans %}#Wszystkie{% endtrans %}</span>
            <span data-cat="brand">{% trans %}#Branding{% endtrans %}</span>
            <span data-cat="web">{% trans %}#Strony internetowe{% endtrans %}</span>
            <span data-cat="app">{% trans %}#Aplikacje{% endtrans %}</span>
            <span data-cat="pack">{% trans %}#Opakowania{% endtrans %}</span>
            <span data-cat="social">{% trans %}#Social media{% endtrans %}</span>
            <span data-cat="fashion">{% trans %}#Fashion{% endtrans %}</span>
        </div>
    </div>
<div style="padding: 0 6vw">
    <div class="portfolio-item" data-cat="brand">
        {{ include('portfolio/foco.html.twig') }}
    </div>
    <div class="portfolio-item" data-cat="web">
        {{ include('portfolio/sahur.html.twig') }}
    </div>
    <div class="portfolio-item" data-cat="web">
        {{ include('portfolio/gopr.html.twig') }}
    </div>
    <div class="portfolio-item" data-cat="social">
        {{ include('portfolio/socialmedia.html.twig') }}
    </div>
    <div class="portfolio-item" data-cat="web">
        {{ include('portfolio/merceria.html.twig') }}
    </div>
    <div class="portfolio-item" data-cat="pack">
        {{ include('portfolio/prelitech.html.twig') }}
    </div>
    <div class="portfolio-item" data-cat="pack">
        {{ include('portfolio/forest.html.twig') }}
    </div>
    <div class="portfolio-item" data-cat="web">
        {{ include('portfolio/biuroland.html.twig') }}
    </div>
    <div class="portfolio-item" data-cat="brand">
        {{ include('portfolio/prelitech_2.html.twig') }}
    </div>
    <div class="portfolio-item" data-cat="fashion">
        {{ include('portfolio/fashion.html.twig') }}
    </div>
    <div class="portfolio-item" data-cat="fashion">
        {{ include('portfolio/stockholm.html.twig') }}
    </div>
    <div data-cat="all" class="portfolio-item nothing d-none w-100 d-flex justify-center">
        <h1>{% trans %}Niestety nic tutaj jeszcze nie ma{% endtrans %}</h1>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script>
document.addEventListener('DOMContentLoaded', () => {
    const spans = document.querySelectorAll('.hashtags-categories > span');

    for(const one of spans) {
        one.addEventListener('click', function() {
            const cat = this.dataset.cat;

            document.querySelector('.hashtags-categories > span.p-link').classList.remove('p-link');
            this.classList.add('p-link');

            if(cat === 'all') {
                document.querySelectorAll(`.portfolio-item`).forEach(elem => elem.classList.remove('d-none'));
                document.querySelector('.nothing').classList.add('d-none');
                return;
            }

            const hide = document.querySelectorAll(`.portfolio-item:not([data-cat="${cat}"])`);
            const items = document.querySelectorAll(`.portfolio-item[data-cat="${cat}"]`);

            for(const one of hide) {
                one.classList.add('d-none');
            }

            if(items.length == 0) {
                document.querySelector('.nothing').classList.remove('d-none');
                return;
            }
            document.querySelector('.nothing').classList.add('d-none');

            document.querySelector('.nothing').classList.add('d-none');
            for(const one of items) {
                one.classList.remove('d-none');
            }

        })

    }

    const bg1 = document.querySelector('.background.bg-clone');
    const bg2 = document.querySelector('.background-2.bg-clone');

    let lastScroll = 0;
    document.querySelector('body').addEventListener('touchmove', scrollAnim);
    window.addEventListener('scrollend', scrollAnim);

    function scrollAnim() {
        const windowTop = 0;

        const items = document.querySelectorAll('.portfolio-item');

        let windowHeightCalc = (window.innerHeight / 4) * 3;
        if(window.scrollY < lastScroll) {
            windowHeightCalc = window.innerHeight / 4;
        }

        let visibleCount = 0;
        for(const one of items) {
            if(one.classList.contains('d-none')) {
                continue;
            }

            const rect = one.getBoundingClientRect();
            let elementPosCalc = rect.y + rect.height / 3;

            if(window.scrollY < lastScroll) {
                elementPosCalc = rect.y;
            }

            if(elementPosCalc < windowHeightCalc && rect.y + rect.height > 0) {
                document.querySelectorAll('.bg-clone').forEach(elem => elem.style.setProperty('top', `${rect.y + window.scrollY}px`));
                visibleCount++;
            }
        }

        if(visibleCount == 0) {
            document.querySelectorAll('.bg-clone').forEach(elem => {
                elem.style.setProperty('opacity', '0');
                elem.style.setProperty('top', '0');
            });
        } else {
            document.querySelectorAll('.bg-clone').forEach(elem => {
                elem.style.setProperty('opacity', '1');
            });
        }

        lastScroll = window.scrollY;

    }
})
</script>
{% endblock %}
