{% trans_default_domain 'portfolio' %}
<div class="row p-row">
    <div style="flex: 1">
        <div>
            <h1 class="p-header" style="display: inline-block">Fashion</h1><sub> (01)</sub>
        </div>
        <span class="p-name">Skoczek Nowy Targ</span>
        <p class="p-desc">
            {% trans %}Główna grafika z hasłem „I'm the Beast” przedstawia spadochroniarza w akcji, otoczonego stylizowanym zarysem spadochronu. Przerywane linie dodają dynamiki, a hasło, napisane energicznym, odręcznym stylem, podkreśla pewność siebie i adrenalinę. Zielone tło z gradientem i postarzonym efektem nadaje projektowi świeży i naturalny charakter.{% endtrans %}
        </p>
{#        <div style="position: relative; width: 100%; max-width: 100%;">#}
{#            <div style="position: absolute; bottom: -5vw; left: 30%; width: 100%; height: 100%; z-index: -1;">#}
{#                <img src="{{ asset('assets/svg/p_1.svg') }}" alt="tukuptu_main" class="w-100">#}
{#            </div>#}
{#        </div>#}
    </div>
    <div class="d-flex align-center" style="flex: 2">
        <img src="{{ asset('assets/img/portfolio/fashion_main.png') }}" alt="fashion_main" class="w-100">
    </div>
</div>
<div class="row p-row">
    <div class="d-flex align-center" style="flex: 1">
        <img src="{{ asset('assets/img/portfolio/fashion_sky_krakow.png') }}" alt="fashion_sky_krakow" class="w-100">
    </div>
    <div style="flex: 1">
        <div>
            <sub> (02)</sub><h1 class="p-header" style="display: inline-block">Fashion</h1>
        </div>
        <span class="p-name">KrakSky</span>
        <p class="p-desc">
            {% trans %}Ten projekt charakteryzuje się żywym, artystycznym wyglądem z odważnymi akcentami bieli, żółci, pomarańczu i niebieskiego. Nieregularny efekt rozprysków farby dodaje energii i kreatywności, nadając koszulce dynamiczny i nowoczesny charakter.{% endtrans %}
        </p>
    </div>
</div>
<div class="row p-row">
    <div style="flex: 2">
        <div>
            <h1 class="p-header">Fashion</h1><sub> (03)</sub>
        </div>
        <span class="p-name">Skoczek Nowy Targ</span>
        <div class="mt-2 d-flex align-center">
            <img src="{{ asset('assets/img/portfolio/fashion_nowy_targ.png') }}" alt="fashion_nowy_targ" style="width: 75%;">
        </div>
    </div>
    <div class="col align-end" style="flex: 2;">
        <div>
            <sub> (04)</sub><h1 class="p-header" style="display: inline-block">Fashion</h1>
        </div>
        <span class="p-name">SOL</span>
        <div class="mt-2 d-flex flex-end">
            <img src="{{ asset('assets/img/portfolio/fashion_sol.png') }}" alt="fashion_sol" style="width: 75%">
        </div>
    </div>
</div>
