{% trans_default_domain 'portfolio' %}
<div class="row" style="gap: 1rem">
    <div class="col" style="flex: 1">
        <div>
            <h1 class="p-header" style="display: inline-block">Webdesign</h1><sub> (02)</sub>
        </div>
        <span class="p-name">GOPR</span>
        <p class="p-desc">
            {% trans %}Projekt dla <a href="https://www.escsa.pl/" target="_blank" style="color: #0A84FF">ESC SA.</a> Strona internetowa GOPR (Górskie Ochotnicze Pogotowie Ratunkowe) została zaprojektowana jako nowoczesna, funkcjonalna i wizualnie atrakcyjna platforma, dostarczająca kluczowe informacje o bezpieczeństwie w górach, akcjach ratunkowych oraz aktualnych warunkach pogodowych.{% endtrans %}
            <br>
            <a href="https://www.gopr.pl" target="_blank" style="color: #0A84FF">www.gopr.pl</a>
        </p>
        <div class="mt-7">
            <img src="{{ asset('assets/img/portfolio/gopr_site.png') }}" alt="gopr_scroll" style="width: 75%">
        </div>
        <div style="position: relative; width: 100%; max-width: 100%;">
            <div style="position: absolute; bottom: 70vw; left: 35%; width: 100%; height: 100%; z-index: -1;">
                <img src="{{ asset('assets/svg/p_2.svg') }}" alt="tukuptu_main" class="w-100">
            </div>
        </div>
    </div>
    <div class="col" style="flex: 1">
        <div>
            <img src="{{ asset('assets/img/portfolio/gopr_mockup.png') }}" alt="gopr_mockup" class="w-100">
        </div>
        <div class="mt-7">
            <img src="{{ asset('assets/img/portfolio/gopr_text.png') }}" alt="gopr_text" class="w-100">
        </div>
        <div class="row mt-2">
            <div class="col flex-end w-100 align-end">
                <div>
                    <sub></sub><h1 class="p-header" style="display: inline-block">{% trans %}Fundacja GOPR{% endtrans %}</h1>
                </div>
            </div>
        </div>
        <p class="p-desc">
            {% trans %}Fundacja GOPR wraz ze sklepem internetowym została zaprojektowana w czystej, nowoczesnej i profesjonalnej estetyce, która współgra z misją wsparcia górskiego ratownictwa.{% endtrans %}
        </p>
        <div class="mt-5">
            <img src="{{ asset('assets/img/portfolio/fundacja_gopr.png') }}" alt="fundacja_gopr" class="w-100" style="width: 75%">
        </div>
{#        <div classs="circle-bg" style="position: relative; width: 100%; max-width: 100%; height: 40%; background-image: url('{{ asset('assets/svg/p_3.svg') }}')">#}
{#            <div style="position: absolute; bottom: 5vw; left: 55%; width: 100%; height: 100%; z-index: -1;">#}
{#                <img src="{{ asset('assets/svg/p_3.svg') }}" alt="tukuptu_main" class="w-100">#}
{#            </div>#}
{#        </div>#}
    </div>
</div>
