<div class="row" style="gap: 1rem">
    <div class="col" style="flex: 1">
        <div>
            <h1 class="p-header" style="display: inline-block">Webdesign</h1><sub> (01)</sub>
        </div>
        <span class="p-name">TUKUPTU</span>
        <p class="p-desc">
            Minimalizm, luksus i komfort – tak krótko opisałbym mój najnowszy projekt dla sklepu TUKUPTU. Stworzyłem przestrzeń, w której estetyka spotyka się z funkcjonalnością, a elegancja łączy się z nowoczesnością.
        </p>
        <img src="{{ asset('assets/img/portfolio/sahur-scroll.png') }}" alt="tukuptu_scroll" style="width: 75%">
    </div>
    <div class="col" style="flex: 1">
        <img src="{{ asset('assets/img/portfolio/sahur-main.png') }}" alt="tukuptu_main" class="w-100">
        <div class="row mt-2">
            <div>
                <img src="{{ asset('assets/img/portfolio/eclate-logo.svg') }}" alt="eclate_logo" class="w-100" style="translate: -25% 0">
            </div>
            <div class="col flex-end w-100 align-end">
                <div>
                    <sub> (02)</sub><h1 class="p-header" style="display: inline-block">Branding</h1>
                </div>
                <span class="p-name">ECLATE</span>
            </div>
        </div>
        <p class="p-desc">
            Marka kosmetyczna premium, która łączy luksus, naturę i nowoczesną technologię. Każdy produkt jest stworzony dla najwyższego poziomu pielęgnacji – skuteczny, delikatny i doskonale zbalansowany.
        </p>
        <img src="{{ asset('assets/img/portfolio/pasja.svg') }}" alt="pasja" class="w-100" style="width: 115%; translate: -13%">
        <div class="row mt-5" style="gap: 0.5rem">
            <div>
            <img src="{{ asset('assets/img/portfolio/kosme1.png') }}" alt="kosmetyk_1" class="w-100">
            </div>
            <div>
            <img src="{{ asset('assets/img/portfolio/kosme2.png') }}" alt="kosmetyk_2" class="w-100">
            </div>
        </div>
    </div>
</div>
