<div class="row">
    <div class="col">
        <div>
            <h1 class="p-header">Socialmedia</h1>
        </div>
        <div class="w-100 social-media">
            <div><img src="{{ asset('assets/img/portfolio/rw.png') }}" alt="race_week_pogo"></div>
            <div><img src="{{ asset('assets/img/portfolio/p11.png') }}" alt="race_week_position_11"></div>
            <div><img src="{{ asset('assets/img/portfolio/simf1.png') }}" alt="simdream_f1"></div>
            <div><img src="{{ asset('assets/img/portfolio/euro24.png') }}" alt="simdream_euro24"></div>
            <div><img src="{{ asset('assets/img/portfolio/sims.png') }}" alt="simdream"></div>
            <div><img src="{{ asset('assets/img/portfolio/simpas.png') }}" alt="simdream_pasek"></div>
        </div>
    </div>
</div>
