<style>
.block-container {
    width: 100%;
}
</style>
<div class="container p-0 p-md-5 blog-post">
    <div class="row mt-4">
        <div class="col-sm-12 small">
            <a class="d-flex align-items-center" href="{{ path('app_portfolio') }}">
                <img class="me-2" src="{{ asset('/assets/svg/chevron_left.svg') }}" alt="">
                Powrót
            </a>
        </div>
    </div>
    <div class="post-blocks d-flex flex-column align-items-center">
        {% for block in post.postBlocks|filter(b => b.mobile == is_mobile()) %}
        {% if block.type == enum('Devcore\\BlogBundle\\Enum\\PostBlockTypeEnum').TEXT %}
            {{ include('blog/blocks/_text.html.twig', {block: block}) }}
        {% elseif block.type == enum('Devcore\\BlogBundle\\Enum\\PostBlockTypeEnum').IMAGE %}
            {{ include('blog/blocks/_image.html.twig', {block: block}) }}
        {% elseif block.type == enum('Devcore\\BlogBundle\\Enum\\PostBlockTypeEnum').HEADER %}
            {{ include('blog/blocks/_header.html.twig', {block: block}) }}
        {% endif %}
        {% endfor %}
    </div>
</div>
