{% trans_default_domain 'layout' %}
<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="darkreader-lock">
        <title>{% block title %}2dev - nowoczesne strony internetowe dla firm i miast{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="icon" type="image/svg+xml" href="{{ asset('favicon.svg') }}">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <meta name="description" content="{{ 'W 2dev zbudujemy twoją markę od podstaw, jak również zaprojektujemy i napiszemy stronę internetową. Poza tym w naszej ofercie znajdziesz też aplikacje wewnętrzne dla firm i wiele innych rzeczy związanych z rozwojem oprogramowania'|trans }}">
        <meta property="og:title" content="{{ '2dev - agencja brandingowa'|trans }}">
        <meta property="og:image" content="https://2dev.com.pl/assets/img/logo.webp">
        <meta property="og:url" content="https://2dev.com.pl">
        <meta property="og:description" content="{{ 'W 2dev zbudujemy twoją markę od podstaw, jak również zaprojektujemy i napiszemy stronę internetową. Poza tym w naszej ofercie znajdziesz też aplikacje wewnętrzne dla firm i wiele innych rzeczy związanych z rozwojem oprogramowania'|trans }}">
        <meta property="og:type" content="website">
        <link rel="alternate" hreflang="pl" href="{{ absolute_path(app.request.attributes.get('_route'), {_locale: 'pl'}) }}">
        <link rel="alternate" hreflang="en" href="{{ absolute_path(app.request.attributes.get('_route'), {_locale: 'en'}) }}">
        <link rel="alternate" hreflang="x-default" href="{{ absolute_path(app.request.attributes.get('_route'), {_locale: 'en'}) }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
        {#CAROUSEL#}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/owl.carousel@2/dist/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/owl.carousel@2/dist/assets/owl.theme.default.min.css">
        <script src="https://cdn.jsdelivr.net/npm/owl.carousel@2/dist/owl.carousel.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollTrigger.min.js"></script>
        <!-- ScrollSmoother requires ScrollTrigger -->
        <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollSmoother.min.js"></script>
        <script>
        let consentCookie = getCookie('consent');
        window.dataLayer = window.dataLayer || [];

        function gtag(){dataLayer.push(arguments);}

        if(consentCookie === 'true') {
            loadAnalytics();
        }
        else if(consentCookie !== 'false') {
            document.addEventListener('DOMContentLoaded', () => {
                document.querySelector('.cookie-consent').classList.remove('d-none');
            })
        }

        function acceptCookies() {
            document.cookie = 'consent=true';
            document.querySelector('.cookie-consent').remove();
            loadAnalytics();
        }

        function declineCookies() {
            document.cookie = 'consent=false';
            document.querySelector('.cookie-consent').remove();
        }

        function loadAnalytics() {
            const script = document.createElement('script');
            script.src = 'https://www.googletagmanager.com/gtag/js?id=G-9J9PH0X240';
            script.async = "true";
            document.querySelector('head').append(script);
            gtag('js', new Date());
            gtag('config', 'G-9J9PH0X240');
        }

        function getCookie(cname) {
            let name = cname + "=";
            let ca = document.cookie.split(';');
            for(let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
        </script>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
        {% endblock %}
    </head>
    <body>
        <div class="cookie-consent d-none">
            <div style="flex: 4">{% trans %}Klikając "Akceptuj wszystkie" zgadzasz się na przechowywanie ciastek na twoim urządzeniu by analizować użytkowanie strony{% endtrans %}</div>
            <button type="button" class="accept-cookies" onclick="(() => acceptCookies())()">{% trans %}Akceptuj wszystkie{% endtrans %}</button>
            <button type="button" class="decline-cookies" onclick="(() => declineCookies())()">{% trans %}Odrzuć{% endtrans %}</button>
        </div>
        <div class="background-wrap">
            <div class="background-2 {{ app.request.attributes.get('_route') in ['app_portfolio', 'app_portfolio_single'] ? '' : 'bg-animated' }}"></div>
            <div class="background {{ app.request.attributes.get('_route') in ['app_portfolio', 'app_portfolio_single'] ? '' : 'bg-animated' }}"></div>
            <div class="background-2 bg-clone {{ app.request.attributes.get('_route') in ['app_portfolio', 'app_portfolio_single'] ? 'no-anim' : '' }}"></div>
            <div class="background bg-clone {{ app.request.attributes.get('_route') in ['app_portfolio', 'app_portfolio_single'] ? 'no-anim' : '' }}"></div>
            <div class="bg-bottom"></div>
        </div>
        <div class="app">
            <div class="mobile-overlay">
                <div class="mobile-overlay-content" style="height: 100%">
                    <div class="mobile-links">
                        <div class="mobile-menu-link">
                            <a href="{{ path('app_portfolio') }}">{% trans %}Portfolio{% endtrans %}</a>
                        </div>
                        <div class="mobile-menu-link">
                            <a href="{{ path('app_index') }}#offer-home">{% trans %}Oferta{% endtrans %}</a>
                        </div>
                        <div class="mobile-menu-link">
                            <a href="{{ path('app_index') }}#person-info">{% trans %}Kontakt{% endtrans %}</a>
                        </div>
                    </div>
                    <div class="socials-mobile" style="position:absolute; bottom: 45vw">
                        <div>
                            <a href="https://www.instagram.com/studio2dev" target="_blank">
                                <img src="{{ asset('assets/svg/instagram.svg') }}" alt="">
                            </a>
                        </div>
                        <div>
                            <a href="https://www.linkedin.com/company/2devstudi0" target="_blank">
                                <img src="{{ asset('assets/svg/linkedin.svg') }}" alt="">
                            </a>
                        </div>
                        <div>
                            <a href="https://www.facebook.com/profile.php?id=61576242897056" target="_blank">
                                <img src="{{ asset('assets/svg/facebook.svg') }}" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <header>
                <div class="d-flex align-center" style="position: relative">
                    <div class="burger-button" style="cursor: pointer">
{#                        <img src="{{ asset('assets/svg/burger.svg') }}" alt="logo" width="25">#}
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="socials-navbar" style="justify-content: flex-start">
                        <div>
                            <a href="https://www.instagram.com/studio2dev" target="_blank">
                                <img src="{{ asset('assets/svg/instagram.svg') }}" alt="">
                            </a>
                        </div>
                        <div>
                            <a href="https://www.linkedin.com/company/2devstudi0" target="_blank">
                                <img src="{{ asset('assets/svg/linkedin.svg') }}" alt="">
                            </a>
                        </div>
                        <div>
                            <a href="https://www.facebook.com/profile.php?id=61576242897056" target="_blank">
                                <img src="{{ asset('assets/svg/facebook.svg') }}" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                {% if app.request.attributes.get('_route') in ['app_portfolio', 'app_devcore', 'app_portfolio_single'] %}
                <a href="{{ path('app_index') }}" class="nav-btn justify-center" style="flex: 0">
                    <img src="{{ asset('assets/svg/logo.svg') }}" alt="polska" width="80">
                </a>
                {% endif %}
                <nav class="nav-menu">
                    <a href="{{ path('app_portfolio') }}" class="nav-btn nav-hide">Portfolio</a>
                    <a href="{{ path('app_index') }}#offer-home" class="nav-btn offer-btn nav-hide">
                        {% trans %}
                        Oferta
                        {% endtrans %}
                    </a>
                    <a href="{{ path('app_index') }}#person-info" class="nav-btn concact-btn nav-hide">
                        {% trans %}
                        Kontakt
                        {% endtrans %}
                    </a>
                    <div>
                        {% set localeFlag = {pl: {path: 'assets/svg/polish_flag.svg', w: 60, h: 30}, en: {path: 'assets/img/uk.png', w: 30, h: 20}, de: {path: 'assets/svg/de_flag.svg', w: 30, h:30}} %}
                        {% set loc = localeFlag[app.request.getLocale()] ?? localeFlag['pl'] %}
                        <a href="#" class="nav-btn d-flex flex-end language-selection" style="padding-bottom: 0">
                            <div class="d-flex justify-center align-center" style="width: 60px; height: 30px">
                            <img src="{{ asset(loc.path) }}" alt="polska" width="{{ loc.w }}" height="{{ loc.h }}">
                            </div>
                            <img src="{{ asset('assets/svg/chevron.svg') }}" class="chevron" alt="chevron" width="20" height="30">
                        </a>
                        <ul class="language-selection-list" style="position: absolute">
                            <li>
                                <a href="{{ absolute_path(app.request.attributes.get('_route'), {'_locale': 'pl'}) }}" class="nav-btn d-flex flex-end" id="language-selection">
                                    <img src="{{ asset('assets/svg/polish_flag.svg') }}" alt="polska" width="60" height="30">
                                </a>
                            </li>
                            <li>
                                <a href="{{ absolute_path(app.request.attributes.get('_route'), {'_locale': 'en'}) }}" class="nav-btn d-flex flex-end" id="language-selection">
                                    <div style="width: 60px; height: 30px; display: flex; justify-content: center;">
                                    <img src="{{ asset('assets/img/uk.png') }}" alt="anglia" width="30" height="20">
                                    </div>
                                </a>
                                <li>
                                    <a href="{{ absolute_path(app.request.attributes.get('_route'), {'_locale': 'de'}) }}" class="nav-btn d-flex flex-end" id="language-selection">
                                        <div style="width: 60px; height: 30px; display: flex; justify-content: center;">
                                        <img src="{{ asset('assets/svg/de_flag.svg') }}" alt="niemcy" width="30" height="20">
                                        </div>
                                    </a>
                                </li>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <main>
                {% block body %}

                {% endblock %}
            </main>
            <footer>
                <div class="w-100 flex-start foot-head">
                    <div class="nav-mini-i nav-mini">
                        <a href="{{ path('app_portfolio') }}">Portfolio</a>
                        <!-- <a href="" class="">Oferta</a> -->
                    </div>
                    <!-- <div style="flex: 3"></div> -->
                    <div class="socials">
                        <div>
                            <a href="https://www.instagram.com/studio2dev" target="_blank">
                                <img src="{{ asset('assets/svg/instagram.svg') }}" alt="">
                            </a>
                        </div>
                        <div>
                            <a href="https://www.linkedin.com/company/2devstudi0" target="_blank">
                                <img src="{{ asset('assets/svg/linkedin.svg') }}" alt="">
                            </a>
                        </div>
                        <div>
                            <a href="https://www.facebook.com/profile.php?id=61576242897056" target="_blank">
                                <img src="{{ asset('assets/svg/facebook.svg') }}" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <span class="credits">&copy; 2025 2Dev Polska</span>
                    <span class="credits">
                        {% trans %}
                        Polityka prywatności
                        {% endtrans %}
                    </span>
                </div>
            </footer>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', () => {

                const burgerButton = document.querySelector('.burger-button');
                const socialsNavbar = document.querySelector('.socials-navbar');
                const mobileOverlay = document.querySelector('.mobile-overlay');

                burgerButton.addEventListener('click', () => {
                    const screenWidth = window.innerWidth;
                    burgerButton.classList.toggle('active');

                    if (screenWidth > 840) {
                        if (socialsNavbar.classList.contains('active')) {
                            socialsNavbar.classList.add('deactivating');
                            setTimeout(() => {
                                socialsNavbar.classList.remove('active');
                                socialsNavbar.classList.remove('deactivating');
                            }, 100);
                        } else {
                            socialsNavbar.classList.add('active');
                        }
                    } else {
                        mobileOverlay.classList.toggle('active');

                        if (mobileOverlay.classList.contains('active')) {
                            document.body.classList.add('menu-open');
                        } else {
                            document.body.classList.remove('menu-open');
                        }
                    }
                });

                mobileOverlay.addEventListener('click', (e) => {
                    if (e.target === mobileOverlay) {
                        mobileOverlay.classList.remove('active');
                        burgerButton.classList.remove('active');
                        document.body.classList.remove('menu-open');
                    }
                });

                document.querySelectorAll('.mobile-menu-link').forEach(link => {
                    link.addEventListener('click', () => {
                        mobileOverlay.classList.remove('active');
                        burgerButton.classList.remove('active');
                        document.body.classList.remove('menu-open');
                    });
                });

                document.querySelectorAll('.language-selection').forEach(elem => {
                    elem.addEventListener('click', function(e) {
                        e.preventDefault();
                        const list = document.querySelector('.language-selection-list');
                        const isOpen = this.dataset.isOpen === 'true';
                        if(isOpen) {
                            list.classList.remove('open');
                            this.dataset.isOpen = false;
                        }
                        else {
                            list.classList.add('open');
                            this.dataset.isOpen = true;
                        }
                    })

                })
            })
        </script>
        {% block javascripts %}


        {% endblock %}

    </body>
</html>
