{% trans_default_domain 'layout' %}
<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="darkreader-lock">
        <title>{% block title %}2dev - nowoczesne strony internetowe dla firm i miast{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="icon" type="image/svg+xml" href="{{ asset('favicon.svg') }}">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <meta name="description" content="{% block meta_desc %}{{ 'W 2dev zbudujemy twoją markę od podstaw, jak również zaprojektujemy i napiszemy stronę internetową. Poza tym w naszej ofercie znajdziesz też aplikacje wewnętrzne dla firm i wiele innych rzeczy związanych z rozwojem oprogramowania'|trans }}{% endblock %}">
        <meta property="og:title" content="{{ '2dev - agencja brandingowa'|trans }}">
        <meta property="og:image" content="https://2dev.com.pl/assets/img/logo.webp">
        <meta property="og:url" content="https://2dev.com.pl">
        <meta property="og:description" content="{{ 'W 2dev zbudujemy twoją markę od podstaw, jak również zaprojektujemy i napiszemy stronę internetową. Poza tym w naszej ofercie znajdziesz też aplikacje wewnętrzne dla firm i wiele innych rzeczy związanych z rozwojem oprogramowania'|trans }}">
        <meta property="og:type" content="website">
        <link rel="alternate" hreflang="pl" href="{{ absolute_path(app.request.attributes.get('_route'), {_locale: 'pl'}) }}">
        <link rel="alternate" hreflang="en" href="{{ absolute_path(app.request.attributes.get('_route'), {_locale: 'en'}) }}">
        <link rel="alternate" hreflang="x-default" href="{{ absolute_path(app.request.attributes.get('_route'), {_locale: 'en'}) }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
        {#CAROUSEL#}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/owl.carousel@2/dist/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/owl.carousel@2/dist/assets/owl.theme.default.min.css">
        <script src="https://cdn.jsdelivr.net/npm/owl.carousel@2/dist/owl.carousel.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollTrigger.min.js"></script>
        <!-- ScrollSmoother requires ScrollTrigger -->
        <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollSmoother.min.js"></script>
        <script>
        let consentCookie = getCookie('consent');
        window.dataLayer = window.dataLayer || [];

        function gtag(){dataLayer.push(arguments);}

        if(consentCookie === 'true') {
            loadAnalytics();
        }
        else if(consentCookie !== 'false') {
            document.addEventListener('DOMContentLoaded', () => {
                document.querySelector('.cookie-consent').classList.remove('d-none');
            })
        }

        function acceptCookies() {
            document.cookie = 'consent=true';
            document.querySelector('.cookie-consent').remove();
            loadAnalytics();
        }

        function declineCookies() {
            document.cookie = 'consent=false';
            document.querySelector('.cookie-consent').remove();
        }

        function loadAnalytics() {
            const script = document.createElement('script');
            script.src = 'https://www.googletagmanager.com/gtag/js?id=G-9J9PH0X240';
            script.async = "true";
            document.querySelector('head').append(script);
            gtag('js', new Date());
            gtag('config', 'G-9J9PH0X240');
        }

        function getCookie(cname) {
            let name = cname + "=";
            let ca = document.cookie.split(';');
            for(let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
        </script>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
        {% endblock %}
    </head>
    <body>
        <div class="cookie-consent d-none">
            <div style="flex: 4">{% trans %}Klikając "Akceptuj wszystkie" zgadzasz się na przechowywanie ciastek na twoim urządzeniu by analizować użytkowanie strony{% endtrans %}</div>
            <button type="button" class="accept-cookies" onclick="(() => acceptCookies())()">{% trans %}Akceptuj wszystkie{% endtrans %}</button>
            <button type="button" class="decline-cookies" onclick="(() => declineCookies())()">{% trans %}Odrzuć{% endtrans %}</button>
        </div>
        <div class="background-wrap">
            <div class="background-2 {{ app.request.attributes.get('_route') in ['app_portfolio', 'app_portfolio_single'] ? '' : 'bg-animated' }}"></div>
            <div class="background {{ app.request.attributes.get('_route') in ['app_portfolio', 'app_portfolio_single'] ? '' : 'bg-animated' }}"></div>
            <div class="background-2 bg-clone {{ app.request.attributes.get('_route') in ['app_portfolio', 'app_portfolio_single'] ? 'no-anim' : '' }}"></div>
            <div class="background bg-clone {{ app.request.attributes.get('_route') in ['app_portfolio', 'app_portfolio_single'] ? 'no-anim' : '' }}"></div>
            <div class="bg-bottom"></div>
        </div>
        <div class="app">
            <div class="mobile-overlay">
                <div class="mobile-overlay-content" style="height: 100%">
                    <div class="mobile-links">
                        <div class="mobile-menu-link">
                            <a href="{{ path('app_devcore') }}">{% trans %}DevCore{% endtrans %}</a>
                        </div>
                        <div class="mobile-menu-link">
                            <a href="{{ path('app_portfolio') }}">{% trans %}Portfolio{% endtrans %}</a>
                        </div>
                        <div class="mobile-menu-link">
                            <a href="{{ path('app_index') }}#offer-home">{% trans %}Oferta{% endtrans %}</a>
                        </div>
                        <div class="mobile-menu-link">
                            <a href="{{ path('app_index') }}#person-info">{% trans %}Kontakt{% endtrans %}</a>
                        </div>
                    </div>
                    <div class="socials-mobile" style="position:absolute; bottom: 45vw">
                        <div>
                            <a href="https://www.instagram.com/studio2dev" target="_blank">
                                <img src="{{ asset('assets/svg/instagram.svg') }}" alt="">
                            </a>
                        </div>
                        <div>
                            <a href="https://www.linkedin.com/company/2devstudi0" target="_blank">
                                <img src="{{ asset('assets/svg/linkedin.svg') }}" alt="">
                            </a>
                        </div>
                        <div>
                            <a href="https://www.facebook.com/profile.php?id=61576242897056" target="_blank">
                                <img src="{{ asset('assets/svg/facebook.svg') }}" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-md-none navbar-mobile">
                {{ include('app/elements/_navbar_mobile.html.twig') }}
            </div>
            <div class="d-none d-md-block">
                {{ include('app/elements/_navbar.html.twig') }}
            </div>
            <main>
                {% block body %}

                {% endblock %}
            </main>
            {{ include('app/elements/_footer.html.twig') }}
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', () => {

                const burgerButton = $('.burger-button');

                const socialsNavbar = $('.socials-navbar');
                const mobileOverlay = $('.mobile-overlay');

                burgerButton.on('click', function() {
                    const screenWidth = window.innerWidth;
                    burgerButton.toggleClass('active');

                    if (screenWidth > 840) {
                        if (socialsNavbar.hasClass('active')) {
                            socialsNavbar.addClass('deactivating');
                            setTimeout(() => {
                                socialsNavbar.removeClass('active');
                                socialsNavbar.removeClass('deactivating');
                            }, 100);
                        } else {
                            socialsNavbar.addClass('active');
                        }
                    } else {
                        mobileOverlay.toggleClass('active');

                        if (mobileOverlay.hasClass('active')) {
                            document.body.classList.add('menu-open');
                        } else {
                            document.body.classList.remove('menu-open');
                        }
                    }
                })

                mobileOverlay.on('click', (e) => {
                    if (e.target !== mobileOverlay[0]) return

                    mobileOverlay.removeClass('active');
                    burgerButton.removeClass('active');
                    document.body.classList.remove('menu-open');
                });

                document.querySelectorAll('.mobile-menu-link').forEach(link => {
                    link.addEventListener('click', () => {
                        mobileOverlay.removeClass('active');
                        burgerButton.removeClass('active');
                        document.body.classList.remove('menu-open');
                    });
                });

                const list = $('.language-selection-list');
                $('.language-selection').on('click', function(e) {
                    e.preventDefault();
                    const isOpen = $(this).data('isOpen');
                    if(isOpen) {
                        list.removeClass('open');
                        $(this).data('isOpen', false);
                    }
                    else {
                        list.addClass('open');
                        $(this).data('isOpen', true);
                    }
                })

                // document.querySelectorAll('.language-selection').forEach(elem => {
                //     elem.addEventListener('click', function(e) {
                //         e.preventDefault();
                //         const list = document.querySelector('.language-selection-list');
                //         const isOpen = this.dataset.isOpen === 'true';
                //         if(isOpen) {
                //             list.classList.remove('open');
                //             this.dataset.isOpen = false;
                //         }
                //         else {
                //             list.classList.add('open');
                //             this.dataset.isOpen = true;
                //         }
                //     })
                //
                // })
            })
        </script>
        {% block javascripts %}


        {% endblock %}

    </body>
</html>
